/* You can add global styles to this file, and also import other style files */

body {
   
    overflow-x: hidden;
    width: 100%;
    
  }
  nav {
    padding-top: 1em;
    padding: 10px;
    float: left;

}

header, footer {
    padding: 1em;
    color: white;
}

.content {

}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 0;
    li {
        padding: 10px;
        padding-bottom: 30px;
        display: block;
        line-height: 20px;
        position: relative;
        
        a{
            text-decoration: none; 
        }
        div {
            display: block;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        a:hover {
            text-decoration: none;
          
          }
    }
}

.p-fieldset .p-fieldset-legend {
    padding: 10px!important;
}

.bg-dark {
    background-color: #343a40 !important;
  }